{% extends "base.html" %}

{% block content %}
<h1>Welcome to Home Page</h1>
<p>Nintendo Switch: {{ option_counts.nintendo_switch }}</p>
<p>Xbox: {{ option_counts.xbox }}</p>
<p>PC: {{ option_counts.pc }}</p>
<p>Playstation: {{ option_counts.playstation }}</p>

<canvas id="myPieChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('myPieChart').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Nintendo Switch', 'Xbox', 'PC', 'Playstation'],
            datasets: [{
                data: [
                    {{ option_counts.nintendo_switch }},
                    {{ option_counts.xbox }},
                    {{ option_counts.pc }},
                    {{ option_counts.playstation }}
                ],
                backgroundColor: ['#E60012', '#0e7a0d', '#1b2838', '#006fcd']
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.label + ': ' + tooltipItem.raw;
                        }
                    }
                }
            }
        }
    });
</script>

<h2>Most Liked Posts by Category</h2>
<ul>
    <li>
        <strong>Nintendo Switch:</strong>
        {% if most_liked_posts.nintendo_switch %}
            {{ most_liked_posts.nintendo_switch.title }} - {{ most_liked_posts.nintendo_switch.total_likes }} likes
        {% else %}
            No posts available.
        {% endif %}
    </li>
    <li>
        <strong>Xbox:</strong>
        {% if most_liked_posts.xbox %}
            {{ most_liked_posts.xbox.title }} - {{ most_liked_posts.xbox.total_likes }} likes
        {% else %}
            No posts available.
        {% endif %}
    </li>
    <li>
        <strong>PC:</strong>
        {% if most_liked_posts.pc %}
            {{ most_liked_posts.pc.title }} - {{ most_liked_posts.pc.total_likes }} likes
        {% else %}
            No posts available.
        {% endif %}
    </li>
    <li>
        <strong>Playstation:</strong>
        {% if most_liked_posts.playstation %}
            {{ most_liked_posts.playstation.title }} - {{ most_liked_posts.playstation.total_likes }} likes
        {% else %}
            No posts available.
        {% endif %}
    </li>
</ul>
{% endblock %}