{% extends "base.html" %}

{% block content %}

<h2>Posts</h2>

<!-- Posts List -->
<ul>
    {% for post in posts %}
        <li>
            {{ post.title }} - {{ post.author }} - Likes: {{ post.total_likes }}
            {% if user.is_authenticated %}
                <form action="{% url 'like_post' post.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Like</button>
                </form>
            {% else %}
                <p><a href="{% url 'login' %}">Log in</a> to like this post.</p>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}