{% extends "base.html" %}

{% block content %}
<h2>Your Posts</h2>
<a href="{% url 'post_create' %}" class="btn btn-primary">Add a Post</a>
<ul>
    {% for post in posts %}
        <li>
            <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a> - {{ post.author }} - Likes: {{ post.total_likes }}
            <a href="{% url 'post_edit' post.id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'post_delete' post.id %}" class="btn btn-danger btn-sm">Delete</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}